html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  background-color: #000;
  overflow: hidden;
  font-family: arial, sans-serif;
  font-size: 13px;
}
 * {
            margin: 0;
            padding: 0;
}
.imgbox {
	display: grid;
	height: 100%;
	
}
.center-fit {
	max-width: 100%;
	max-height: 100vh;
	margin: auto;
}